<div *ngIf="folder" class="card card-block note-card">
  <h4 class="card-title">{{folder.name}}</h4>
  <div>
    <form (ngSubmit)="createNewNote()" #newNoteForm="ngForm">
      <md-input placeholder="Title" [(ngModel)]="newNote.title" name="new-note-title" required></md-input>
      <md-input placeholder="Details" [(ngModel)]="newNote.details" name="new-note-details" required></md-input>
      <button type="submit" class="btn btn-secondary" [disabled]="!newNoteForm.form.valid">Add</button>
    </form>
  </div>
  <div class="card-text">
    <div *ngFor="let note of folder.notes" class="note-row">
      <a href="#" class="btn btn-secondary btn-no-border" (click)="deleteNote(note)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      <span>{{note.title}} : {{note.details}}</span>
      <br/>
    </div>
  </div>
</div>