body {
  background-color: #fafafa;
}

.main {
  margin-left: 20px;
  margin-top: 70px;
}

.modal-spinner {
  margin-left: 60px;
}

.modal-dialog {
  width: 400px;
}

.modal-header {
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #61bfb7;
  color: white;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}

.center-page {
  width: 100px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#loading-title {
  position: relative;
  top: -80px;
  margin-left: -30px;
}

#loading-spinner {
  position: relative;
  top: -60px;
}