body {
  /*background-color: #fafafa!important;*/
    background-image: url("resources/images/security-wallpaper-faded.jpg");
}

.main {
  margin-bottom: 30px;
}

.modal-spinner {
  margin-left: 60px;
}

.modal-dialog {
  width: 400px;
}

.modal-header {
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #61bfb7;
  color: white;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}

.center-page {
  width: 100px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#loading-title {
  position: relative;
  top: -80px;
  margin-left: -30px;
  width: 400px;
}

#loading-spinner {
  position: relative;
  top: -60px;
}

.card {
  border: 1px solid rgba(0,0,0,.325)!important;
}

button {
  cursor: pointer;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.centered {
  width: 50%;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}