
  <div *ngIf="user" class="row">

    <div class="col col-sm-4" *ngFor="let folder of folders">
      <div class="card card-block note-card">
        <div *ngIf="folder.id !== editedFolder.id">
          <h4 class="card-title" (click)="beginEdit(folder)">{{folder.name}}</h4>
        </div>
        <div *ngIf="folder.id === editedFolder.id" class="input-group details-input">
          <input class="form-control" placeholder="Edited Folder Name" [(ngModel)]="editedFolder.name" name="editedFolderName" [disabled]="folderEditLoading" maxlength="20" required />
          <span class="input-group-btn">
            <button  class="btn btn-secondary" (click)="editFolderName()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </span>
          <span class="input-group-btn">
            <button *ngIf="folder.id === editedFolder.id" class="btn btn-secondary" (click)="stopEdit()"><i class="fa fa-ban" aria-hidden="true"></i></button>
          </span>
        </div>
        <p *ngIf="folder.id !== idOfDeletingFolder && folder.id !== idOfEditingFolder" class="card-text">
          <span *ngFor="let note of folder.notes">{{note.title}} ...<br/></span>
        </p>
        <div class="card-text centered" *ngIf="folderDeleteLoading && folder.id === idOfDeletingFolder">
          <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
        </div>
        <div class="card-text centered" *ngIf="folderEditLoading && folder.id === idOfEditingFolder">
          <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
        </div>
        <div *ngIf="folder.id !== idOfDeletingFolder && folder.id !== idOfEditingFolder" class="note-bottom">
            <a [routerLink]="'/folder/' + folder.id" routerLinkActive="active" class="card-link"><i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i></a>
            <a (click)="deleteFolder(folder.id)" href="#" class="card-link pull-right"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col col-sm-4" *ngIf="!homeLoading">
      <div class="card card-block note-card">
        <form #newFolderForm="ngForm">
          <h4 class="card-title">
            <input class="form-control" placeholder="Add a new folder" [(ngModel)]="newFolder.name" name="folderName" maxlength="20" required />
          </h4>
          <div class="card-text centered">
            <button *ngIf="!newFolderLoading" id="add-folder-button" [disabled]="!newFolderForm.form.valid" (click)="createFolder()">
              <i *ngIf="!newFolderForm.form.valid" class="fa fa-check fa-5x" aria-hidden="true" style="color: #dbffea"></i>
              <i *ngIf="newFolderForm.form.valid" class="fa fa-check fa-5x" aria-hidden="true" style="color: #1ec98a"></i>
            </button>
            <div *ngIf="newFolderLoading">
              <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<div *ngIf="homeLoading" class="center-page">
  <div id="loading-spinner">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
</div>

<div *ngIf="!user && !homeLoading">
  <login></login>
</div>