#home {
  margin-right: 30px;
}

.note-card {
  position:relative;
  margin-top: 30px;
  min-height: 200px;
  max-height: 200px;
}

.note-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.new-folder-row {
  min-height: 50px;
}

.new-folder-element {
  margin-left: 20px;
}

.pull-right {
  float: right;
}

#add-folder-button {
  border: none;
  background: none;
  margin-left: -150px;
}

#add-folder-button:hover {
  border: none;
  background: none;
  margin-left: -150px;
  cursor: pointer;
}

.centered {
  text-align: center;
}