<div *ngIf="user" id="home">

  <div class="row">
    <div class="container">
      <button *ngIf="!creatingFolder" class="btn btn-secondary" (click)="creatingFolder = true">New Folder</button>
      <button *ngIf="creatingFolder" class="btn btn-secondary" (click)="createFolder()">Create</button>
      <md-input *ngIf="creatingFolder" id="new-folder-name" placeholder="Folder Name" [(ngModel)]="newFolder" name="folderName" required></md-input>
    </div>
  </div>
  

  <div class="col-sm-4" *ngFor="let folder of folders">
    <div class="card card-block note-card">
      <h4 class="card-title">{{folder.name}}</h4>
      <p class="card-text">
        <span *ngFor="let note of folder.notes">{{note.title}} : {{note.details}}</span>
      </p>
      <div class="note-bottom">
        <a href="#" class="card-link">More</a>
      </div>
    </div>
  </div>

  <div *ngIf="homeLoading" class="center-page">
    <div id="loading-spinner">
      <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
    </div>
  </div>

</div>