<div class="row">
  <div *ngIf="folder" class="card card-block note-card">
    <h4 class="card-title">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">
        <span style="color:black"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
      </button> {{folder.name}}
    </h4>
    <div *ngIf="!noteLoading" class="card-text">
      <div *ngFor="let note of folder.notes" class="note-row">
        <a *ngIf="note.id !== editedNote.id" href="#" class="btn btn-secondary btn-no-border" (click)="deleteNote(note)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <span *ngIf="note.id !== editedNote.id" (click)="beginEdit(note);">{{note.title}} : {{note.details}}</span>
        <div *ngIf="note.id === editedNote.id" class="input-group details-input">
          <input class="form-control title-input" [(ngModel)]="editedNote.title" name="new-note-title" maxlength="20" required />
          <span class="input-group-btn">
            <button  class="btn btn-secondary" (click)="editNote()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </span>
          <span class="input-group-btn">
            <button *ngIf="note.id === editedNote.id" class="btn btn-secondary" (click)="stopEdit()"><i class="fa fa-ban" aria-hidden="true"></i></button>
          </span>
        </div>
        <input class="form-control details-input" *ngIf="note.id === editedNote.id" [(ngModel)]="editedNote.details" name="new-note-details" maxlength="60" required />
        <br/>
      </div>
    </div>
    <div *ngIf="noteLoading">
      <i class="fa fa-spinner fa-spin fa-3x modal-spinner" aria-hidden="true"></i>
    </div>
    <div *ngIf="!isPrimary" style="text-align: right">
      <button class="btn btn-secondary" (click)="makeFolderPrimary()">Make Primary</button>
      <button class="btn btn-secondary" (click)="setNoteOrder()">Set Note Order</button>
    </div>
  </div>
</div>


<!-- New Note Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (ngSubmit)="createNewNote()" #newNoteForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">New Note</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input class="form-control new-note" placeholder="Title" [(ngModel)]="newNote.title" name="new-note-title" maxlength="20" required />
          <textarea class="form-control new-note" placeholder="Details" [(ngModel)]="newNote.details" name="new-note-details" maxlength="100" rows="3" required></textarea>  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!newNoteForm.form.valid">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>