<button *ngIf="!user" class="btn btn-secondary" (click)="modal.open()">Login</button>
<div *ngIf="user">
  <span  id="user-title">Welcome, {{user.firstName}}</span>
  <a class="btn btn-secondary" href="#">Manage Account</a>
</div>


<modal #loginModal>
    <modal-header [show-close]="true" >
        <h4 class="modal-title">Login</h4>
    </modal-header>
    <form (ngSubmit)="login()" #loginForm="ngForm">
    <modal-body>
      <md-input placeholder="username" [(ngModel)]="creds.username" name="username" required></md-input>
      <md-input placeholder="password" type="password" [(ngModel)]="creds.password" name="password" required></md-input>
      <i *ngIf="loginLoading" class="fa fa-spinner fa-spin fa-3x modal-spinner" aria-hidden="true"></i>
      <p *ngIf="errorMessage">{{errorMessage}}</p>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-secondary" [disabled]="!loginForm.form.valid || loginLoading">Login</button>
    </modal-footer>
    </form>
</modal>